*~
/wp.*/
/acoprophar.fr/
/goliath.backup.sftp/
/goliath.txt
/meta-backup.log
/modelco.fr/
/pressmantoy.com/
/shop.pressmantoy.com/
/config
/monitoring/nginx/nginx*
/monitoring/docker-compose.override.yml
/monitoring/grafana/
/monitoring/nginx-site
/monitoring/nginx_status
/monitoring/statsd/
/dashboard/.env
/dashboard/config/
/dashboard/node_modules/
/dashboard.*
